.home-user-img {
    width: 70%;
    height: 70%;
    margin: 0 25% 0 25%;
    justify-content: center;
    align-content: center;
}
.post-content .home-user-img img  {
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }